<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>provisions eqp jenkins master</description>
  <displayName>Launch EQP Jenkins Master</displayName>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jp.ikedam.jenkins.plugins.groovy__label__assignment.GroovyLabelAssignmentProperty plugin="groovy-label-assignment@1.2.0">
      <secureGroovyScript plugin="script-security@1.41">
        <script>import jenkins.model.*
import jenkins.node_monitors.*
import jenkins.slaves.*
import java.util.concurrent.*
import java.util.*
import javax.mail.*
import javax.mail.internet.*
import javax.activation.*
def jenkinsInstance = Jenkins.getInstance()
def jenkinsNodes = jenkinsInstance.getNodes()

def count = 0

//def mailto = &quot;DL-Magento-DevOps-Alerts@magento.com&quot;;
//def mailfrom = &quot;noreply@magento.com&quot;;
//def mailhost = &quot;smtp.corp.magento.com&quot;;

// get global variables
globalNodeProperties = jenkinsInstance.getGlobalNodeProperties()
envVarsNodePropertyList = globalNodeProperties.getAll(hudson.slaves.EnvironmentVariablesNodeProperty.class)
envVars = envVarsNodePropertyList.get(0).getEnvVars()

// set variables
def labelString = envVars.get(&quot;jenkslabel_xx&quot;)


for (nodes in jenkinsNodes) {
   def computer = nodes.computer
  if (computer == null) {
       println(&apos; We have a NULL slave.  Restart Jenkins &apos;)
       currentBuild.result = &apos;FAILURE&apos;
    // sendEmail(mailto,mailfrom,mailhost,labelBuild) 
  }
  else {
   if (nodes.getLabelString()==labelString &amp;&amp; count  &lt; 1) {
       if (computer.isOnline() &amp;&amp; !computer.isConnecting() &amp;&amp; computer.isIdle()) {
           //  Online / Not Connecting / Idle 
           count++
           println(computer.name + &apos; Idle time: &apos;  + new java.text.DecimalFormat(&quot;0.00&quot;).format(((System.currentTimeMillis() - computer.getIdleStartMilliseconds())/60000)) + &apos; mins&apos;);
       } else if (computer.isConnecting()) {
           // Connecting  
           count++
           println(&apos;Agent &apos; + computer.name + &apos; is already starting&apos;)            
       } else if (computer.isOffline() &amp;&amp; !computer.isConnecting()) {
           // Offline / Not Connecting
           count++         
           println(computer.name + &apos; Starting offline agent&apos;)
   	   computer.connect(false)
           sleep(500)
       }
    } 
  }
}


def sendEmail(to,from,host,slavename) { 
      def properties = System.getProperties();
      properties.setProperty(&quot;mail.smtp.host&quot;, host);
      Session session = Session.getDefaultInstance(properties);

      try {
         MimeMessage message = new MimeMessage(session);
         message.setFrom(new InternetAddress(from));
         message.addRecipient(Message.RecipientType.TO, new InternetAddress(to));
         message.setSubject(&quot;Null slave error on &quot; + build.getEnvironment(listener).get(&quot;JOB_URL&quot;));

         // Now set the actual message
         message.setText(&quot;Null slave object on &quot; + slavename);
         Transport.send(message);
         println(&quot;Null slave error occurred.  Email was sent successfully....&quot;);
      }catch (MessagingException mex) {
         mex.printStackTrace();
      }
   
}
return label_build</script>
        <sandbox>false</sandbox>
      </secureGroovyScript>
    </jp.ikedam.jenkins.plugins.groovy__label__assignment.GroovyLabelAssignmentProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.27">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>JENKINS_BRANCH</name>
          <description>which git branch to pull Jenkins jobs. if empty, will use JENKINS_TYPE</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <com.seitenbau.jenkins.plugins.dynamicparameter.ChoiceParameterDefinition plugin="dynamicparameter@0.2.0">
          <name>Environment</name>
          <description>Jenkins Environment</description>
          <__uuid>cce54232-2116-4c87-adaf-281246d1d472</__uuid>
          <__remote>false</__remote>
          <__script>def list= [&apos;Staging&apos;,&apos;Production&apos;]</__script>
          <__localBaseDirectory serialization="custom">
            <hudson.FilePath>
              <default>
                <remote>/var/lib/jenkins/dynamic_parameter/classpath</remote>
              </default>
              <boolean>true</boolean>
            </hudson.FilePath>
          </__localBaseDirectory>
          <__remoteBaseDirectory>dynamic_parameter_classpath</__remoteBaseDirectory>
          <__classPath></__classPath>
          <readonlyInputField>false</readonlyInputField>
        </com.seitenbau.jenkins.plugins.dynamicparameter.ChoiceParameterDefinition>
        <org.biouno.unochoice.CascadeChoiceParameter plugin="uno-choice@2.1">
          <name>JENKINS_TYPE</name>
          <description></description>
          <randomName>choice-parameter-1094858568389386</randomName>
          <visibleItemCount>1</visibleItemCount>
          <script class="org.biouno.unochoice.model.GroovyScript">
            <secureScript plugin="script-security@1.41">
              <script>def subNets = [&apos;jenkm-eqp-test&apos;]

if (Environment == &apos;Staging&apos;) {
    subNets = [&apos;jenkm-eqp-test&apos;]
}
else
{
subNets = [&apos;jenkm-eqp-test&apos;]
}

return subNets</script>
              <sandbox>false</sandbox>
            </secureScript>
            <secureFallbackScript plugin="script-security@1.41">
              <script>return [&apos;&lt;-- loading... --&gt;&apos;]</script>
              <sandbox>false</sandbox>
            </secureFallbackScript>
          </script>
          <projectName>provision-eqp-jenkins-master-tool</projectName>
          <parameters class="linked-hash-map"/>
          <referencedParameters>Environment</referencedParameters>
          <choiceType>PT_SINGLE_SELECT</choiceType>
          <filterable>false</filterable>
          <filterLength>1</filterLength>
        </org.biouno.unochoice.CascadeChoiceParameter>
        <hudson.model.StringParameterDefinition>
          <name>Executors</name>
          <description>Number of executors, if 0, uses default, otherwise, will use specified amount</description>
          <defaultValue>0</defaultValue>
        </hudson.model.StringParameterDefinition>
        <com.seitenbau.jenkins.plugins.dynamicparameter.ChoiceParameterDefinition plugin="dynamicparameter@0.2.0">
          <name>JENK_INSTANCE_TYPE</name>
          <description>jenkins instance type</description>
          <__uuid>a0bbf54f-381b-4da3-ae67-b364447958c7</__uuid>
          <__remote>false</__remote>
          <__script>def list= [&apos;m4.xlarge&apos;,&apos;t2.xlarge&apos;,&apos;m4.large&apos;,&apos;t2.large&apos;,&apos;m4.2xlarge&apos;]</__script>
          <__localBaseDirectory serialization="custom">
            <hudson.FilePath>
              <default>
                <remote>/var/lib/jenkins/dynamic_parameter/classpath</remote>
              </default>
              <boolean>true</boolean>
            </hudson.FilePath>
          </__localBaseDirectory>
          <__remoteBaseDirectory>dynamic_parameter_classpath</__remoteBaseDirectory>
          <__classPath></__classPath>
          <readonlyInputField>false</readonlyInputField>
        </com.seitenbau.jenkins.plugins.dynamicparameter.ChoiceParameterDefinition>
        <org.biouno.unochoice.CascadeChoiceParameter plugin="uno-choice@2.1">
          <name>JENK_SUBNET_NAME</name>
          <description>Jenkins Subnets available for the selected AWS account

</description>
          <randomName>choice-parameter-77981043193979</randomName>
          <visibleItemCount>1</visibleItemCount>
          <script class="org.biouno.unochoice.model.GroovyScript">
            <secureScript plugin="script-security@1.41">
              <script>def subNets = [&apos;vpc-devops-eqp-stage-private-us-east-1a&apos;, &apos;vpc-devops-eqp-stage-private-us-east-1b&apos;,                        &apos;vpc-devops-eqp-stage-private-us-east-1c&apos;,&apos;vpc-devops-eqp-stage-private-us-east-1d&apos;]

if (Environment == &apos;Staging&apos;) {
    subNets = [&apos;vpc-devops-eqp-stage-private-us-east-1a&apos;, &apos;vpc-devops-eqp-stage-private-us-east-1b&apos;,                        &apos;vpc-devops-eqp-stage-private-us-east-1c&apos;,&apos;vpc-devops-eqp-stage-private-us-east-1d&apos;]
}
else
{
subNets = [&apos;vpc-devops-eqp-stage-private-us-east-1a&apos;, &apos;vpc-devops-eqp-stage-private-us-east-1b&apos;,                        &apos;vpc-devops-eqp-stage-private-us-east-1c&apos;,&apos;vpc-devops-eqp-stage-private-us-east-1d&apos;]
}

return subNets</script>
              <sandbox>false</sandbox>
            </secureScript>
            <secureFallbackScript plugin="script-security@1.41">
              <script>return [&apos;&lt;-- loading... --&gt;&apos;]</script>
              <sandbox>false</sandbox>
            </secureFallbackScript>
          </script>
          <projectName>provision-eqp-jenkins-master-tool</projectName>
          <parameters class="linked-hash-map"/>
          <referencedParameters>Environment</referencedParameters>
          <choiceType>PT_SINGLE_SELECT</choiceType>
          <filterable>false</filterable>
          <filterLength>1</filterLength>
        </org.biouno.unochoice.CascadeChoiceParameter>
        <org.biouno.unochoice.CascadeChoiceParameter plugin="uno-choice@2.1">
          <name>JENK_SUBNET_ID</name>
          <description></description>
          <randomName>choice-parameter-1089456773492352</randomName>
          <visibleItemCount>1</visibleItemCount>
          <script class="org.biouno.unochoice.model.GroovyScript">
            <secureScript plugin="script-security@1.41">
              <script>def subNetId = [&apos;subnet-4f2c112b&apos;]

if (JENK_SUBNET_NAME == &apos;vpc-devops-eqp-stage-private-us-east-1a&apos;) {
  subNetId = [&apos;subnet-4f2c112b&apos;]
}
else if (JENK_SUBNET_NAME == &apos;vpc-devops-eqp-stage-private-us-east-1b&apos;) {
  subNetId = [&apos;subnet-ddbcf5f2&apos;]
}
else if (JENK_SUBNET_NAME == &apos;vpc-devops-eqp-stage-private-us-east-1c&apos;) {
  subNetId = [&apos;subnet-5ff7e614&apos;]
}
else if (JENK_SUBNET_NAME == &apos;vpc-devops-eqp-stage-private-us-east-1d&apos;) {
  subNetId = [&apos;subnet-fb1b57a6&apos;]
}
else
{
  subNetId = [&apos;subnet-4f2c112b&apos;]
}

return subNetId
</script>
              <sandbox>false</sandbox>
            </secureScript>
            <secureFallbackScript plugin="script-security@1.41">
              <script>return [&apos;&lt;-- loading... --&gt;&apos;]</script>
              <sandbox>false</sandbox>
            </secureFallbackScript>
          </script>
          <projectName>provision-eqp-jenkins-master-tool</projectName>
          <parameters class="linked-hash-map"/>
          <referencedParameters>JENK_SUBNET_NAME</referencedParameters>
          <choiceType>PT_SINGLE_SELECT</choiceType>
          <filterable>false</filterable>
          <filterLength>1</filterLength>
        </org.biouno.unochoice.CascadeChoiceParameter>
        <org.biouno.unochoice.CascadeChoiceParameter plugin="uno-choice@2.1">
          <name>JENK_SEC_GRP_IDS</name>
          <description>Security Group Ids</description>
          <randomName>choice-parameter-87457773884936</randomName>
          <visibleItemCount>1</visibleItemCount>
          <script class="org.biouno.unochoice.model.GroovyScript">
            <secureScript plugin="script-security@1.41">
              <script>def secGroups = [&apos;&quot;sg-269dd651&quot;,&quot;sg-769fd401&quot;,&quot;sg-b04e01c6&quot;&apos;]

if (Environment == &apos;Staging&apos;) {
    secGroups = [&apos;&quot;sg-269dd651&quot;,&quot;sg-769fd401&quot;,&quot;sg-b04e01c6&quot;&apos;]
}
else if (Environment == &apos;Production&apos;) {
    secGroups = [&apos;&quot;sg-269dd651&quot;,&quot;sg-769fd401&quot;,&quot;sg-b04e01c6&quot;&apos;]
}

return secGroups</script>
              <sandbox>false</sandbox>
            </secureScript>
            <secureFallbackScript plugin="script-security@1.41">
              <script>return [&apos;&lt;-- loading... --&gt;&apos;]</script>
              <sandbox>false</sandbox>
            </secureFallbackScript>
          </script>
          <projectName>provision-eqp-jenkins-master-tool</projectName>
          <parameters class="linked-hash-map"/>
          <referencedParameters>Environment</referencedParameters>
          <choiceType>PT_SINGLE_SELECT</choiceType>
          <filterable>false</filterable>
          <filterLength>1</filterLength>
        </org.biouno.unochoice.CascadeChoiceParameter>
        <com.seitenbau.jenkins.plugins.dynamicparameter.ChoiceParameterDefinition plugin="dynamicparameter@0.2.0">
          <name>JENK_VOL_TYPE</name>
          <description>Jenkins EBS Volume Type</description>
          <__uuid>2480811d-443e-4c67-808f-c4947e420a96</__uuid>
          <__remote>false</__remote>
          <__script>def list= [&apos;gp2&apos;,&apos;standard&apos;]</__script>
          <__localBaseDirectory serialization="custom">
            <hudson.FilePath>
              <default>
                <remote>/var/lib/jenkins/dynamic_parameter/classpath</remote>
              </default>
              <boolean>true</boolean>
            </hudson.FilePath>
          </__localBaseDirectory>
          <__remoteBaseDirectory>dynamic_parameter_classpath</__remoteBaseDirectory>
          <__classPath></__classPath>
          <readonlyInputField>false</readonlyInputField>
        </com.seitenbau.jenkins.plugins.dynamicparameter.ChoiceParameterDefinition>
        <com.seitenbau.jenkins.plugins.dynamicparameter.ChoiceParameterDefinition plugin="dynamicparameter@0.2.0">
          <name>SKIPNODES</name>
          <description>skip creation of nodes for jenkins master</description>
          <__uuid>5f3b4157-305a-40c0-8046-0706f3eb2bb3</__uuid>
          <__remote>false</__remote>
          <__script>def list= [&apos;yes&apos;,&apos;no&apos;]</__script>
          <__localBaseDirectory serialization="custom">
            <hudson.FilePath>
              <default>
                <remote>/var/lib/jenkins/dynamic_parameter/classpath</remote>
              </default>
              <boolean>true</boolean>
            </hudson.FilePath>
          </__localBaseDirectory>
          <__remoteBaseDirectory>dynamic_parameter_classpath</__remoteBaseDirectory>
          <__classPath></__classPath>
          <readonlyInputField>false</readonlyInputField>
        </com.seitenbau.jenkins.plugins.dynamicparameter.ChoiceParameterDefinition>
        <com.seitenbau.jenkins.plugins.dynamicparameter.ChoiceParameterDefinition plugin="dynamicparameter@0.2.0">
          <name>TEST_NODES</name>
          <description>whether to use smaller node counts when testing</description>
          <__uuid>a65a9aaa-b9fa-43be-92cd-afd2328fa9a4</__uuid>
          <__remote>false</__remote>
          <__script>def list= [&apos;no&apos;,&apos;yes&apos;]</__script>
          <__localBaseDirectory serialization="custom">
            <hudson.FilePath>
              <default>
                <remote>/var/lib/jenkins/dynamic_parameter/classpath</remote>
              </default>
              <boolean>true</boolean>
            </hudson.FilePath>
          </__localBaseDirectory>
          <__remoteBaseDirectory>dynamic_parameter_classpath</__remoteBaseDirectory>
          <__classPath></__classPath>
          <readonlyInputField>false</readonlyInputField>
        </com.seitenbau.jenkins.plugins.dynamicparameter.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>TOTAL_TEST_NODES</name>
          <description>IF TEST_NODES = yes, number of nodes to create. must be at least 4</description>
          <defaultValue>4</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>RUNNING_BRANCH</name>
          <description>which branch in jenkins-automation repo to use to run this job</description>
          <defaultValue>$BRANCH_AUTO</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>USE_JENKINS_AMI</name>
          <description>if this is not empty, use provided AMI id</description>
          <defaultValue>$JENKINS_MAIN_AMI</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>JENKB_AMI</name>
          <description>if this is not empty, it will pull this file name form s3 to use as Jenks agent instead of using default AMI</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>JENKS_AMI</name>
          <description>if this is not empty, it will pull this file name form s3 to use as Jenkb agent instead of using default AMI</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.plugins.global__variable__string__parameter.GlobalVariableStringParameterDefinition plugin="global-variable-string-parameter@1.2">
          <name>label_build</name>
          <description></description>
          <defaultValue>${jenkslabel_xx}</defaultValue>
        </hudson.plugins.global__variable__string__parameter.GlobalVariableStringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>FROM_BUILD</name>
          <description>only used for multiple creation job</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.0.1">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit></paramsToUseForLimit>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>true</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>set +x
export UPDATE_JENKINS_HOSTNAME=yes
export CLEAR_JOBS=no
export GITHUB_MAGENTO_ID=&quot;e543c731-94dc-4d68-8aad-9fd12b484460&quot;
export thebranch=$RUNNING_BRANCH
#export LATESTPLUGINS=$USE_LATEST_JENKINS_PLUGINS
export FULL_PROCESS=no
export STARTING_NODE_AZ=&apos;a&apos;
#
export JENKINS_MASTER_TYPE=&quot;eqp&quot;
#
MYAPI=$(aws ssm get-parameter --name /jenkins-github-api-token-read-only/eqp --with-decryption --output text --query Parameter.Value)
git clone https://$MYAPI@github.com/magento-cicd/jenkins-automation.git
#
cd jenkins-automation
git checkout $RUNNING_BRANCH
source ~/.bash_profile
cd jenkins-master
sh jenkins_automation.sh
cd -
echo &quot; &quot;</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.34">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.8.9"/>
    <org.jenkinsci.plugins.builduser.BuildUser plugin="build-user-vars-plugin@1.5"/>
  </buildWrappers>
</project>