<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.17">
  <actions/>
  <description></description>
  <displayName>Delete EQP Jenkins Master</displayName>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.27">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>MASTER_IP</name>
          <description>Jenkins Master IP Address to delete</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>RUNNING_BRANCH</name>
          <description>which branch in jenkins-automation repo to use to run this job</description>
          <defaultValue>$BRANCH_AUTO</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.plugins.global__variable__string__parameter.GlobalVariableStringParameterDefinition plugin="global-variable-string-parameter@1.2">
          <name>label_build</name>
          <description></description>
          <defaultValue>${jenkslabel_xx}</defaultValue>
        </hudson.plugins.global__variable__string__parameter.GlobalVariableStringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.0.1">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit></paramsToUseForLimit>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers/>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.45">
    <script>def agent_master = label_build 
node (&apos;master&apos;) {
    build job: &apos;start-jenkins-agents-util&apos;
}
node (agent_master) {
 git(
       url: &apos;https://github.com/magento-cicd/jenkins-automation.git&apos;,
       credentialsId: &apos;git-user-read&apos;,
       poll: false, 
       branch: &apos;${RUNNING_BRANCH}&apos;,
       changelog: false
  )
  def workspace = pwd()
  dir (workspace+&apos;/jenkins-master/&apos;)
  {
    sh &apos;JENKINS_MASTER_TYPE=eqp sh delete_jenkins_master.sh&apos;
  }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>